@use "sass:color";

// catppuccin palettes
@use "@catppuccin/palette/scss/_latte" as latte;
@use "@catppuccin/palette/scss/_mocha" as mocha;

// Default mixins and settings -----------------
@import "reveal.js/css/theme/template/mixins";
@import "reveal.js/css/theme/template/settings";
// ---------------------------------------------

// Include theme-specific fonts

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/poppins-latin-700-normal.woff2) format('woff2'), url(/fonts/poppins-latin-700-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/source-sans-pro-latin-400-normal.woff2) format('woff2'), url(/fonts/source-sans-pro-latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Hack';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/hack-regular.woff2) format('woff2'), url(/fonts/hack-regular.woff) format('woff');
}

// Define CSS custom properties for theming
:root {
  // Default to Latte (light mode)
  --ctp-rosewater: #{latte.$rosewater};
  --ctp-flamingo: #{latte.$flamingo};
  --ctp-pink: #{latte.$pink};
  --ctp-mauve: #{latte.$mauve};
  --ctp-red: #{latte.$red};
  --ctp-maroon: #{latte.$maroon};
  --ctp-peach: #{latte.$peach};
  --ctp-yellow: #{latte.$yellow};
  --ctp-green: #{latte.$green};
  --ctp-teal: #{latte.$teal};
  --ctp-sky: #{latte.$sky};
  --ctp-sapphire: #{latte.$sapphire};
  --ctp-blue: #{latte.$blue};
  --ctp-lavender: #{latte.$lavender};
  --ctp-text: #{latte.$text};
  --ctp-subtext1: #{latte.$subtext1};
  --ctp-subtext0: #{latte.$subtext0};
  --ctp-overlay2: #{latte.$overlay2};
  --ctp-overlay1: #{latte.$overlay1};
  --ctp-overlay0: #{latte.$overlay0};
  --ctp-surface2: #{latte.$surface2};
  --ctp-surface1: #{latte.$surface1};
  --ctp-surface0: #{latte.$surface0};
  --ctp-base: #{latte.$base};
  --ctp-mantle: #{latte.$mantle};
  --ctp-crust: #{latte.$crust};

  // Switch to Mocha for dark mode
  @media (prefers-color-scheme: dark) {
    --ctp-rosewater: #{mocha.$rosewater};
    --ctp-flamingo: #{mocha.$flamingo};
    --ctp-pink: #{mocha.$pink};
    --ctp-mauve: #{mocha.$mauve};
    --ctp-red: #{mocha.$red};
    --ctp-maroon: #{mocha.$maroon};
    --ctp-peach: #{mocha.$peach};
    --ctp-yellow: #{mocha.$yellow};
    --ctp-green: #{mocha.$green};
    --ctp-teal: #{mocha.$teal};
    --ctp-sky: #{mocha.$sky};
    --ctp-sapphire: #{mocha.$sapphire};
    --ctp-blue: #{mocha.$blue};
    --ctp-lavender: #{mocha.$lavender};
    --ctp-text: #{mocha.$text};
    --ctp-subtext1: #{mocha.$subtext1};
    --ctp-subtext0: #{mocha.$subtext0};
    --ctp-overlay2: #{mocha.$overlay2};
    --ctp-overlay1: #{mocha.$overlay1};
    --ctp-overlay0: #{mocha.$overlay0};
    --ctp-surface2: #{mocha.$surface2};
    --ctp-surface1: #{mocha.$surface1};
    --ctp-surface0: #{mocha.$surface0};
    --ctp-base: #{mocha.$base};
    --ctp-mantle: #{mocha.$mantle};
    --ctp-crust: #{mocha.$crust};
  }
}

// Override theme settings (see ../template/settings.scss)
// Use Catppuccin Latte colors as base for SASS compilation
$backgroundColor: latte.$base;

$mainColor: latte.$subtext1;
$headingColor: latte.$text;

$mainFontSize: 32px;
$mainFont: "'Source Sans Pro', Arial, sans-serif";
$headingFont: "'Poppins', Helvetica, sans-serif";
$codeFont: Hack, monospace;
$headingTextShadow: none;
$headingMargin: 0 0 10px 0;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingFontWeight: 600;
$linkColor: latte.$mauve;
$linkColorHover: color.adjust(latte.$mauve, $lightness: 15%);
$selectionBackgroundColor: latte.$surface2;

$heading1Size: 2.3em;
$heading2Size: 1.4em;
$heading3Size: 1.1em;
$heading4Size: 0.8em;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);

// Theme template ------------------------------
@import "reveal.js/css/theme/template/theme";

// ---------------------------------------------

// Override reveal.js CSS custom properties for dark mode
@media (prefers-color-scheme: dark) {
  :root {
    --r-background-color: #{mocha.$base};
    --r-main-color: #{mocha.$subtext1};
    --r-heading-color: #{mocha.$text};
    --r-link-color: #{mocha.$mauve};
    --r-link-color-hover: #{color.adjust(mocha.$mauve, $lightness: 15%)};
    --r-link-color-dark: #{color.adjust(mocha.$mauve, $lightness: -15%)};
    --r-selection-background-color: #{mocha.$surface2};
  }
}

pre,
code,
code.hljs {
  background-color: var(--ctp-crust) !important;
}

iframe {
  border: none;
}

svg {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.reveal img,
.reveal video {
  max-width: 95%;
  max-height: 95%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

// svg container
.graphics {
  position: relative;
  text-align: center;
  aspect-ratio: 1280 / 720;
}

.graphics svg {
  width: 100%;
  height: 100%;
}

.reveal iframe {
  border: none;
  max-width: 100vw;
  max-height: 100vh;
}

img.portrait {
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

a.source {
  font-size: .8em;
}

img.qrcode {
  image-rendering: pixelated;
  position: fixed;
  top: 0;
  right: 0;
}

.reveal h1,
.reveal h2 {
  text-shadow: 0 0 10px black;
  color: white !important;
}

// Conditional syntax highlighting themes using CSS @import (not SASS @import)
// CSS @import supports media queries
@import url("@catppuccin/highlightjs/css/catppuccin-latte.css") (prefers-color-scheme: light);
@import url("@catppuccin/highlightjs/css/catppuccin-mocha.css") (prefers-color-scheme: dark);
